<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container ion-text-center">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Login</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Iniciar Sesión</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list class="ion-margin-vertical">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username" placeholder="Ingrese su usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>
    </ion-list>
    
    <div class="ion-margin-top">
      <ion-button (click)="login()" expand="full" shape="round">Iniciar Sesión</ion-button>
    </div>
  </div>
</ion-content>
