<ion-header>
  <ion-toolbar>
    <ion-title>
      404
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/img/gif404.gif"></ion-img>
    <ion-card-header>
      Un chiste para alegrarte el día
    </ion-card-header>
    <ion-card-content>
      <p>
        ¿Por qué los programadores siempre confunden la Navidad con Halloween?
      </p>
      <p>
        Porque Oct 31 == Dec 25
      </p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="volverAHome()">Volver</ion-button>
</ion-content>
