@import url('https://fonts.googleapis.com/css2?family=Nombre+de+la+Fuente&display=swap');

.custom-datetime {
    --placeholder-color: var(--ion-color-primary); /* Cambia el color del texto de marcador de posición */
    --color: var(--ion-color-secondary); /* Cambia el color del texto seleccionado */
    --border-color: var(--ion-color-tertiary); /* Cambia el color del borde */
    --background: rgba(47, 75, 189, 0.05); /* Cambia el fondo */
    border-radius: 8px; /* Agrega esquinas redondeadas */
    padding: 10px; /* Agrega espacio alrededor del campo */
  }
  

  ion-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  }
  

//color calendario



/* Estilos para el botón de abrir el calendario */
.mat-datepicker-toggle {
  color: rgb(238, 255, 0);
}


//ion-content {
  //--background: #a5d8e5; /* para cambiar el fondo*/
//}


//animacion limpiar campos

@keyframes slideInInputs {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-inputs {
  animation: slideInInputs 1s;
}






/* Estilo personalizado para la sección de Certificados */
.certificados-section {
  background-color: #276f4c; /* Cambia el color de fondo */
  padding: 20px; /* Cambia el espaciado interior */
  border-radius: 10px; /* Aplica bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 1, 11, 0.2); /* Agrega una sombra */
  color: rgb(0, 0, 0); /* Cambia el color del texto a blanco */
}

/* Estilo para los elementos de la sección de Certificados */
.certificados-section ion-item {
  --ion-item-background: transparent; /* Fondo de los items como transparente */
  color: white; /* Cambia el color del texto a blanco */
  margin-bottom: 12px; /* Espacio entre elementos */
}

/* Estilo para los checkboxes en la sección de Certificados */
.certificados-section ion-checkbox {
  --background: #fff; /* Cambia el color de fondo del checkbox */
}





/* Estilo personalizado para la sección de Experiencia */
.experiencia-section {
  background-color: #2c1a4f; /* Cambia el color de fondo */
  padding: 15px; /* Cambia el espaciado interior */
  border: 1px solid #03c300; /* Agrega un borde */
  border-radius: 8px; /* Aplica bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
  margin-top: 20px; /* Espacio superior */
}

/* Estilo para los elementos de la sección de Experiencia */
.experiencia-section ion-item {
  --ion-item-background: transparent; /* Fondo de los items como transparente */
  margin-bottom: 12px; /* Espacio entre elementos */
}

/* Estilo para los checkboxes en la sección de Experiencia */
.experiencia-section ion-checkbox {
  --background: #007bff; /* Cambia el color de fondo del checkbox */
}
