<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" type="text" minLength="3" maxLength="8" placeholder="Ingrese su usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" type="password" inputmode="numeric" maxLength="4" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-datetime presentation="date" [(ngModel)]="fechaNacimiento" class="custom-datetime"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Nivel Educacional</ion-label>
      <ion-select [(ngModel)]="nivelEducacional">
        <ion-select-option value="primaria">Primaria</ion-select-option>
        <ion-select-option value="secundaria">Secundaria</ion-select-option>
        <ion-select-option value="universidad">Universidad</ion-select-option>
        <!-- Agrega más opciones según sea necesario -->
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="button-container">
    <ion-button expand="full" (click)="registrar()" shape="round">Registrarse</ion-button>
    <ion-button expand="full" (click)="limpiarCampos()" shape="round" color="danger">Limpiar Campos</ion-button>
  </div>
</ion-content>
