<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item [class.slide-in-inputs]="isAnimating">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" type="text" minLength="3" maxLength="8" placeholder="Ingrese su usuario"></ion-input>
    </ion-item>
    <ion-item [class.slide-in-inputs]="isAnimating">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" type="password" inputmode="numeric" maxLength="4" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>
    <!-- Es calendario de estados unidos, osea primero el mes y luego el dia -->
    <mat-form-field appearance="outline">
      <mat-label style="color: white;">Fecha de Nacimiento</mat-label>
      <input style="color: white;" matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <ion-item>
      <ion-label position="floating">Nivel Educacional</ion-label>
      <ion-select [(ngModel)]="nivelEducacional">
        <ion-select-option value="primaria">Primaria</ion-select-option>
        <ion-select-option value="secundaria">Secundaria</ion-select-option>
        <ion-select-option value="universidad">Universidad</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="button-container">
    <ion-button expand="full" (click)="registrar()" shape="round">Registrarse</ion-button>
<ion-button expand="full" (click)="limpiarCampos()" shape="round" color="danger" class="slide-out">Limpiar Campos</ion-button>
  </div>
</ion-content>

